.container{
    margin: 4%;
    padding:2%;
    /*-webkit-box-shadow: 10px 10px 15px 6px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 15px 6px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 15px 6px rgba(0,0,0,0.56);
    */
    border-radius: 2%;
    border: 1px solid rgba(180, 177, 177, 0.9);
}
td{
    text-align: left;
    padding:0 5px;
    font-size: 17px;
}
span{
    font-size: 20px;
}